portfolio.css
/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body Styling */
body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    color: #332669;
    max-height: 90%;
}
.header{
    height: 30px;

}

/* Navbar Styling */
.navbar {
    background-color: #333;
    padding: 1rem 0;
  
}

.navbar ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.navbar a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

.navbar a:hover {
    color: #5048b4;

}

/* Main Content */
.content {
    padding: 2rem;
    text-align: center;
     
}

/* Footer Styling */
footer {
    background-color: #2e2546;
    color: white;
    text-align:center;
    margin-top: 0%;
}
*footer-box{
    text-align: justify;
    justify-items:end;
    margin-top: 0%;
}
